
<div id="<%= dom_id friend %>">
    <tr>
      <th><%= friend.first_name %></th>
      <td><%= friend.last_name %></td>
      <td><%= friend.email %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.insta %></td>
      <td><%= link_to "Show", friend %></td>
      <td>  <%= link_to "Edit", edit_friend_path(friend) %> </td>
      <td> <%= button_to "Delete", friend, method: :delete %></td>
    </tr>

</div>
 